<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name=".NotificationBuilder"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TasbihGO!!"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".zikir_harian_list"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.tasbihgo.zikir_harian_list" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".zikir_vids_list"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.tasbihgo.zikir_vids_list" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>